@model enaa.ViewModel.NavViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    string? fullName = null;
    if (SignInManager.IsSignedIn(User))
    {
        User user = await UserManager.FindByEmailAsync(User.Identity.Name);
        if (user != null)
        {
            fullName = user.FullName;
        }
    }
}


<!-- ======= Header ======= -->
@foreach (var item in Model.Home)
{
var sizeLogo = string.Concat(item.LogoSize, "px");
    <header id="header" class="fixed-top d-flex align-items-center" style="box-shadow: inset 0 100px 80px -80px rgba(0,0,0,.7);background:@item.BgNav;">
    <div class="d-flex align-items-center" style="width:1434px; margin:auto;">
        <h1 class="logo me-auto"><a asp-controller="Home" asp-action="index">
            <img style="width:@sizeLogo;" src="~/assets/img/logo1.png" />
        </a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        

        <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
                @foreach (var n in Model.Menu)
                {
                    var size = string.Concat(n.Size, "px");
                    <li><a class="nav-link scrollto active" href="@n.Link" style="color:@n.Color; font-size:@size; font-weight:300;">@n.TitleMenu</a></li>
                }
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

        <a href="/registrations/create" id="navbar-btn" class="ml-3 scrollto">JE M'INSCRIS!</a>
    </div>
</header><!-- End Header -->
}




    

    


