/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Montserrat";
  color: #444444;
  padding: 0;
  margin: 0;
}

a {
  color: #e03a3c;
  text-decoration: none;
}

a:hover {
  color: #e76668;
  text-decoration: none;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #1b675a;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #fff;
  color: black;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: #1b675a;
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;
}

#header.header-scrolled {
  padding: 12px 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  font-weight: 600;
}

#header .logo a {
  color: #111111;
}

#header .logo a span {
  color: #1b675a;
}

#header .logo img {
  max-height: 40px;
}

/*--------------------------------------------------------------
# Get Startet Button
--------------------------------------------------------------*/
.get-started-btn {
  margin-left: 30px;
  background: black;
  color: #fff;
  border-radius: 4px;
  padding: 8px 25px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
}

.get-started-btn:hover {
  background: #111111;
  color: #fff;
}

@media (max-width: 992px) {
  .get-started-btn {
    margin: 0 15px 0 0;
    padding: 6px 18px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 15px;
  font-weight: 600;
  color: #111111;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
  color: #1b675a;
}

.navbar ul li a:hover {
  color: green !important;
  transform: translate(0, -3px) !important;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 30px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover > a {
  color: #1b675a;
}

.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #111111;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #454444;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #111111;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

#navbar-btn {
  background: transparent;
  padding: 0.5em 1em;
  font-size: 1em;
  font-weight: 400;
  border: 1px solid #9cc943;
  border-radius: 5px;
  color: #fff;
}
#navbar-btn:hover {
  background-color: #185b4f;
  color: #9cc943;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: url("../img/affiche_H.jpg") top center no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 82px;
}
#hero-register {
  width: 100%;
  height: 50vh;
  background: url("../img/jeunes.jpg") top center no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 82px;
  box-shadow: inset -1px 456px 56px rgba(0, 0, 0, 0.6);
}

/* .hero {
  position: relative;
  width: 100%;
  background: #333;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  z-index: 1;
} */

#hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero p {
  color: #adadad;
  margin: 10px 0 0 0;
  font-size: 19px;
  width: 70%;
}

#hero .btn-get-started {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 4px;
  transition: 0.5s;
  margin-top: 30px;
  color: #fff;
  background: #1b675a;
  border: 2px solid #1b675a;
}

#hero .btn-get-started:hover {
  background: transparent;
  border-color: #fff;
}

#hero .btn-contact {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 40px;
  border-radius: 4px;
  transition: 0.5s;
  margin-top: 30px;
  color: #fff;
  background: transparent;
  border: 2px solid #848484;
}
#hero .btn-contact:hover {
  background: #1b675a;
  border-color: #1b675a;
}
.mission-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.valeurs-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.valeurs-content-icon {
  background: #1b675a;
  border-radius: 30px;
  text-align: center;
  color: #fff;
  line-height: 50px;
  width: 15%;
  height: 52px;
  padding: 4px;
}
.valeurs-content-icon1 {
  background: #1b675a;
  border-radius: 30px;
  text-align: center;
  color: #fff;
  line-height: 50px;
  width: 33%;
  height: 52px;
  padding: 4px;
}
.valeurs-content-icon2 {
  background: #1b675a;
  border-radius: 30px;
  text-align: center;
  color: #fff;
  line-height: 50px;
  width: 30%;
  height: 52px;
  padding: 4px;
}
@media (max-width: 1500px) {
  .mouse {
    display: none !important;
  }
}
@media (max-width: 1100px) {
  .mission-content {
    display: flex;
    flex-direction: column !important;
    width: 100% !important;
    margin: auto;
  }
  .valeurs-content {
    display: flex;
    flex-direction: column !important;
    width: 100% !important;
    margin: auto;
  }
  .valeurs-content-img {
    width: 50% !important;
    margin: auto !important;
  }
  .mission-content-center {
    width: 80% !important;
    margin: auto;
  }
  .mission-content-img {
    width: 30% !important;
    margin: auto !important;
  }
}

@media (max-width: 768px) {
  #hero {
    text-align: center;
    padding-top: 58px;
  }
  .hero-all {
    width: 100% !important;
  }

  #hero P {
    font-size: 16px;
    width: 100%;
  }

  .hero-img {
    display: none;
  }
}

@media (max-height: 500px) {
  #hero {
    height: 120vh;
  }
}

.mouse {
  width: 50px;
  height: 90px;
  border: 3px solid #b7b7b7;
  border-radius: 60px;
  position: relative;
  top: -9em;
  &::before {
    content: "";
    width: 12px;
    height: 12px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #b7b7b7;
    border-radius: 50%;
    opacity: 1;
    animation: wheel 2s infinite;
    -webkit-animation: wheel 2s infinite;
  }
}

@keyframes wheel {
  to {
    opacity: 0;
    top: 60px;
  }
}

@-webkit-keyframes wheel {
  to {
    opacity: 0;
    top: 60px;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
  position: relative;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
  position: relative;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #9cc844;
  bottom: 0;
  left: calc(50% - 25px);
}

.section-title p {
  margin-bottom: 0;
}

.section-bg {
  padding: 120px 0;
  color: #fff;
}

.section-bg:before {
  content: "";
  background: #1b1b1b;
  position: absolute;
  bottom: 60px;
  top: 60px;
  left: 0;
  right: 0;
  transform: skewY(-3deg);
}

/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/

.counts .count-box {
  padding: 30px 30px 25px 30px;
  width: 100%;
  position: relative;
  text-align: center;
  box-shadow: 0px 2px 35px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
}

.counts .count-box i {
  position: absolute;
  width: 54px;
  height: 54px;
  top: -27px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 35px;
  background: #fff;
  color: #1b675a;
  border-radius: 50px;
  border: 2px solid #fff;
  box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.counts .count-box span {
  font-size: 36px;
  display: block;
  font-weight: 700;
  color: #111111;
}

.counts .count-box p {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  color: black;
}

/*--------------------------------------------------------------
# Tabs
--------------------------------------------------------------*/
/* .tabs .nav-tabs {
  border: 0;
}

.tabs .nav-link {
  border: 1px solid #b9b9b9;
  padding: 15px;
  transition: 0.3s;
  color: #111111;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.tabs .nav-link i {
  padding-right: 15px;
  font-size: 48px;
}

.tabs .nav-link h4 {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.tabs .nav-link:hover {
  color: #1b675a;
}

.tabs .nav-link.active {
  background: #1b675a;
  color: #fff;
  border-color: #1b675a;
}

@media (max-width: 768px) {
  .tabs .nav-link i {
    padding: 0;
    line-height: 1;
    font-size: 36px;
  }
}

@media (max-width: 575px) {
  .tabs .nav-link {
    padding: 15px;
  }

  .tabs .nav-link i {
    font-size: 24px;
  }
}

.tabs .tab-content {
  margin-top: 30px;
}

.tabs .tab-pane h3 {
  font-weight: 600;
  font-size: 26px;
}

.tabs .tab-pane ul {
  list-style: none;
  padding: 0;
}

.tabs .tab-pane ul li {
  padding-bottom: 10px;
}

.tabs .tab-pane ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #1b675a;
}

.tabs .tab-pane p:last-child {
  margin-bottom: 0;
} */

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Pricing
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Frequently Asked Questions
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.contact-iframe {
  width: 53%;
  height: 26em;
}
.contact-data {
  width: 43%;
}
.contact-data h6 {
  font-weight: bold;
  color: #9cc844;
}
.contact-data a {
  background: #9cc844;
  text-align: center;
  font-weight: bold;
  color: #fff;
  padding: 1em 0;
  border-radius: 5px;
}
.contact-data a:hover {
  box-shadow: inset 0 100px 80px -80px rgba(0, 0, 0, 0.7);
}

@media (max-width: 768px) {
  .contact-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .contact-iframe {
    width: 100%;
    height: 26em;
  }
  .contact-data {
    width: 100%;
  }
}
/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  padding: 60px 0;
  background: #1b675a;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.8125rem;
  box-shadow: inset 0 100px 80px -80px rgba(0, 0, 0, 0.7);
}

/*------------------------------------
    ENAA sectio 

-------------------------------------*/
.Enaa {
  padding-bottom: 1.5em !important;
}
.enaa-img-Title {
  width: 40%;
}
.enaa-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.enaa-corner1 {
  width: 9vw;
  height: 9vh;
  align-self: center;
}
.enaa-corner2 {
  width: 9vw;
  height: 9vh;
  transform: rotateY(180deg);
  align-self: center;
}
.enaa-Text {
  text-align: center;
  padding: 2em;
}
.enaa-content-register {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 30%;
  margin: auto;
}
.enaa-corner1-register {
  width: 3vw;
  height: 6vh;
  align-self: flex-end;
}
.enaa-corner2-register {
  width: 3vw;
  height: 6vh;
  transform: rotateY(180deg);
  align-self: flex-end;
}
.enaa-Text-register {
  text-align: center;
  padding: 4em 2em 0 2em;
  color: #fff;
}
.enaa-parties {
  display: flex;
  flex-direction: row;
  text-align: center;
}
.enaa-parties-single {
  width: 35%;
  margin: 0 auto;
  margin-right: 1.5em;
}
.enaa-parties-single i {
  font-size: 3em;
  padding-bottom: 0.5em;
}
.enaa-parties-single h3 {
  font-size: 1.3em;
}
.enaa-parties-single p {
  text-align: justify;
  width: 100%;
}
.fa-solid:hover {
  color: #1b675a !important;
}

@media (max-width: 1300px) {
  .enaa-img-Title {
    width: 20em;
  }
  .enaa-parties-single {
    width: 90%;
    margin: 0 auto;
  }
  .enaa-parties {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

/*------------------------------------
    Enaa section end 

-------------------------------------*/
/*------------------------------------
    Dahsboard 

-------------------------------------*/
.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #ededed;
  color: #fff;
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #ededed;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover {
  color: #ededed;
  background: #fff;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background: #ededed;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #ededed;
}

#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}

/*---------------------------------
 inscription
-----------------------------------*/
.section-multisteps-form {
  border-radius: 1em;
  box-shadow: -8px 6px 46px -6px rgba(0, 0, 0, 0.48);
  -webkit-box-shadow: -8px 6px 46px -6px rgba(0, 0, 0, 0.48);
  -moz-box-shadow: -8px 6px 46px -6px rgba(0, 0, 0, 0.48);
}
.multisteps-form__title {
  padding: 0px 0 15px 0;
}
.content__title {
  margin-bottom: 40px;
  font-size: 20px;
  text-align: center;
}

.content__title--m-sm {
  margin-bottom: 10px;
}

.multisteps-form__progress {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}
.multisteps-form_btn {
  background-color: transparent;
  color: #1b675a;
  border: 2px solid #1b675a;
  border-radius: 8px;
  padding: 10px 30px;
}
.multisteps-form_btn:hover {
  background-color: #1b675a;
  color: #fff;
  border: 2px solid #1b675a;
  border-radius: 8px;
  padding: 10px 30px;
}
.multisteps-form__progress-btn {
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  transition-delay: 0s;
  position: relative;
  padding-top: 35px;
  color: rgba(108, 117, 125, 0.7);
  text-indent: -9999px;
  border: none;
  background-color: transparent;
  outline: none !important;
  cursor: pointer;
}
@media (min-width: 500px) {
  .multisteps-form__progress-btn {
    text-indent: 0;
  }
}
.multisteps-form__progress-btn:before {
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  width: 30px;
  height: 30px;
  content: "";
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  transition: all 0.15s linear 0s,
    -webkit-transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
  transition: all 0.15s linear 0s,
    transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
  transition: all 0.15s linear 0s,
    transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s,
    -webkit-transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
  border: 2px solid currentColor;
  border-radius: 50%;
  background-color: #fff;
  box-sizing: border-box;
  z-index: 3;
}
.multisteps-form__progress-btn:after {
  position: absolute;
  top: 14px;
  left: calc(-50% - 13px / 2);
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  transition-delay: 0s;
  display: block;
  width: 100%;
  height: 2px;
  content: "";
  background-color: currentColor;
  z-index: 1;
}
.multisteps-form__progress-btn:first-child:after {
  display: none;
}
.multisteps-form__progress-btn.js-active {
  color: #1b675a;
}
.multisteps-form__progress-btn.js-active:before {
  -webkit-transform: translateX(-50%) scale(1.2);
  transform: translateX(-50%) scale(1.2);
  background-color: currentColor;
}

.multisteps-form__form {
  position: relative;
}

.multisteps-form__panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  opacity: 0;
  visibility: hidden;
}
.multisteps-form__panel.js-active {
  height: auto;
  opacity: 1;
  visibility: visible;
}
.multisteps-form__panel[data-animation="scaleOut"] {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.multisteps-form__panel[data-animation="scaleOut"].js-active {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.multisteps-form__panel[data-animation="slideHorz"] {
  left: 50px;
}
.multisteps-form__panel[data-animation="slideHorz"].js-active {
  transition-property: all;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.2, 1.13, 0.38, 1.43);
  transition-delay: 0s;
  left: 0;
}
.multisteps-form__panel[data-animation="slideVert"] {
  top: 30px;
}
.multisteps-form__panel[data-animation="slideVert"].js-active {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  top: 0;
}
.multisteps-form__panel[data-animation="fadeIn"].js-active {
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  transition-delay: 0s;
}
.multisteps-form__panel[data-animation="scaleIn"] {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}
.multisteps-form__panel[data-animation="scaleIn"].js-active {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  -webkit-transform: scale(1);
  transform: scale(1);
}
/*---------------------------------
 inscription
-----------------------------------*/
/*--------------------------------------------------------------
# flip section
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# flip section
--------------------------------------------------------------*/
.flip-card {
  background-color: transparent;
  width: 30em;
  height: 15em;
  perspective: 1000px;
  position: relative;
}

.flip-title {
  background-color: rgba(22, 175, 58, 0.5);
  color: #fff;
  font-weight: bold;
  width: 80%;
  margin: auto;
  padding: 10px;
}

.Flip-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
  margin: auto;
}

.flip-card-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  border-radius: 10px;
}

.flip-card:focus {
  outline: 0;
}

.flip-card:hover .flip-card-inner,
.flip-card:focus .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.flip-card-front {
  background-image: url("../img/web.jpg");
  background-size: cover;
  background-position: center center;
  color: black;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: inset -1px 302px 56px rgba(0, 0, 0, 0.6);
}

.flip-card-back {
  background: linear-gradient(to right, #1b675a, #18d26e);
  color: white;
  transform: rotateY(180deg);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.flip-card-back img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  margin: auto;
}

@media (max-width: 768px) {
  .Flip-content h3 {
    font-weight: 100 !important;
  }
}

.flip-card2 {
  background-color: transparent;
  width: 30em;
  height: 15em;
  perspective: 1000px;
  position: relative;
}

.Flip-content2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
  margin: auto;
}

.flip-card-inner2 {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  border-radius: 10px;
}

.flip-card2:focus {
  outline: 0;
}

.flip-card2:hover .flip-card-inner2,
.flip-card2:focus .flip-card-inner2 {
  transform: rotateY(180deg);
}

.flip-card-front2,
.flip-card-back2 {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.flip-card-front2 {
  background-image: url("../img/mobile.jpg");
  background-size: cover;
  background-position: center center;
  color: black;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: inset -1px 302px 56px rgba(0, 0, 0, 0.6);
}

.flip-card-back2 {
  background: linear-gradient(to right, #1b675a, #18d26e);
  color: white;
  transform: rotateY(180deg);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.flip-card-back2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  margin: auto;
}

@media (max-width: 768px) {
  .Flip-conten2t h3 {
    font-weight: 100 !important;
  }
}
/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
#Jeunes {
  padding: 1em !important;
}
.custom-section {
  height: 14em; /* Set the desired height */
  background-image: url("../img/jeunes.jpg"); /* Add your background image URL here */
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; /* Center-align the text */
  color: #fff; /* Text color */
}
.custom-section::before {
  content: "";
  background: rgba(0, 0, 0, 0.5); /* Couleur noire semi-transparente */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#partenaire {
  padding: 1em !important;
}
.partenaire-custom-section {
  height: 16em;
  background: #323e48;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}

/*--------------------------------------------------------------
# ENd Clients
--------------------------------------------------------------*/
