@{
    ViewData["Title"] = "Home Page";
}


<!-- ======= Hero Section ======= -->

<section id="hero" class="d-flex align-items-center ">

    <div class="w-75 m-auto hero-all" data-aos="zoom-out" data-aos-delay="100">
        <div class="d-flex flex-row justify-content-between pt-5">
            <div class="w-50 m-auto hero-content">
                <div><img src="~/assets/img/logo-footer.png" alt="Logo" width="58%"></div><br />
                <p>Découvrez l'École Numérique Ahmed AL HANSALI,<br>
                où l'innovation et la créativité rencontrent les technologies de pointe
                    pour former les futurs leaders du numérique.</p>
                <a href="/registrations/create" class="btn-get-started scrollto" target="_blanck">JE M'INSCRIS!</a>
                <a href="#contact" class="btn-contact scrollto">Contact</a>
            </div>
            <div class="w-50 m-auto hero-img">
                <img src="~/assets/img/young.png" style="width:35vw; float:inline-end;">
            </div>
        </div>
        <div class="mouse m-auto"></div>
    </div>

</section>
<!-- End Hero -->

<main id="main">

    <!-- ======= Enaa Section ======= -->
    <section id="Enaa" class="Enaa">
        <div class="container" data-aos="zoom-in">
            <div class="text-center">
                <img class="enaa-img-Title" src="~/assets/img/ennaT.png">
            </div><br />
            <div class="enaa-content" data-aos="flip-right">
                <img class="enaa-corner1" src="~/assets/img/corner1.png">
                <p class="enaa-Text">
                    "L'école numérique Ahmed AL HANSALI
                Le monde numérique et les technologies de pointe sont omniprésents 
                dans notre quotidien, mais il est indéniable que leurs mécanismes 
                et langages ne sont pas nécessairement intuitifs pour tout le monde. 
                Cette disparité entre ceux qui maîtrisent le "langage numérique" 
                avec aisance et ceux qui se sentent dépassés est souvent manifeste. 
                C'est pourquoi l'école Ahmed AL HANSALI a pour mission d'offrir à chacun 
                l'opportunité d'acquérir des compétences en programmation, dans le but 
                de réduire les inégalités numériques et d'ouvrir des portes à tous, sans exception."
                </p>
                <img class="enaa-corner2" src="~/assets/img/corner1.png">
            </div>
            <div class="enaa-parties">
                <div class="enaa-parties-single" data-aos="fade-right">
                    <i class="fa-sharp fa-solid fa-lightbulb" style="color: #9cc844;"></i>
                    <h3>Méthodologie Innovante</h3>
                    <p>L'École Numérique Ahmed Al Hansali est dotée de moyens pédagogiques 
                    et techniques innovants favorisant l'apprentissage et la pratique des 
                    connaissances dans les meilleures conditions. La formation offerte à 
                    l'école est axée sur les technologies digitales les plus demandées sur le marché du travail.</p>
                </div>
                <div class="enaa-parties-single" data-aos="fade-up">
                    <div class="text-center">
                        <i class="fa-solid fa-user-check" style="color: #9cc844;"></i>
                        <h3>Formation Inclusive</h3>
                    </div>
                    <p>Quel que soit votre niveau d'études, la passion pour la technologie et 
                    l'envie d'apprendre sont les seuls critères pour nous rejoindre.</p>
                </div>
                <div class="enaa-parties-single" data-aos="fade-left">
                    <i class="fa-solid fa-chalkboard-user" style="color: #9cc844;"></i>
                    <h3>Pédagogie par Projets</h3>
                    <p>L'École Numérique Ahmed Al Hansali adopte une pédagogie par projets où 
                    l'apprenant se retrouve dans des situations réelles, garantissant une 
                    insertion professionnelle. L'apprenant est accompagné par des formateurs 
                    référents experts tout au long de la période de formation.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- ======= Counts Section ======= -->
    <div class="counts-bg" style="background-image: url(~/assets/img/jeunes.jpg)">
    <section id="counts" class="counts">
        <div class="container" data-aos="fade-up">

            <div class="row">

                <div class="col-lg-3 col-md-6">
                    <div class="count-box">
                        <i class="bi bi-emoji-smile"></i>
                        <span style="color:#9cc844;" data-purecounter-start="0" data-purecounter-end="10" data-purecounter-duration="2" class="purecounter"></span>
                        <p>STAFF</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
                    <div class="count-box">
                        <i class="bi bi-journal-richtext"></i>
                        <span style="color:#9cc844;" data-purecounter-start="0" data-purecounter-end="50" data-purecounter-duration="2" class="purecounter"></span>
                        <p>PLACES PÉDAGOGIQUES</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                    <div class="count-box">
                        <i class="bi bi-headset"></i>
                        <span style="color:#9cc844;" data-purecounter-start="0" data-purecounter-end="2" data-purecounter-duration="2" class="purecounter"></span>
                        <p>FILIÈRES</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                    <div class="count-box">
                        <i class="bi bi-people"></i>
                        <span style="color:#9cc844;" data-purecounter-start="0" data-purecounter-end="0" data-purecounter-duration="2" class="purecounter"></span>
                        <p>LAURÉATS</p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Counts Section -->

    <!-- ======= Jeunes Section ======= -->
    <section id="Jeunes" class="Jeunes">
        <div class="w-100" data-aos="zoom-in">
            <div class="row">
                <div class="col-md-12">
                    <section class="custom-section">
                        <div class="text-center">
                            <div class="col-lg-12 quote" style="font-size:28px;font-weight:30;">
						        <i class="fa fa-quote-left"></i> <span class="text-white fw-bold">Pour les jeunes</span>, l'apprentissage est la clé <br>qui ouvre les portes de l'avenir.
						        <i class="fa fa-quote-right"></i>
					        </div><br>
                            <small>Bill Gates, American businessperson and investor</small>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section> 

    <!-- ======= Mission Section ======= -->
    <section id="mission" class="mission">
        <div class="container" data-aos="zoom-in">
            <div class="section-title">
                <h2>Notre Missions</h2>
                <!-- <p>Notre mission est d'inspirer et d'éduquer la prochaine génération de leaders numériques au Maroc,</p>
                <p>en favorisant l'excellence dans le domaine du digital pour stimuler l'innovation et la croissance 
                de l'économie numérique nationale.</p> -->
            </div>
            <div class="mission-content">
                <img  class="mission-content-img" src="~/assets/img/first.svg" style="width:26vw;">
                <div class="pt-4 mission-content-center" style="width:40%; font-size:1em; text-align:justify; color:black;">
                    <p>L'École Numérique Ahmed AL HANSLI est un centre de formation solidaire et inclusif situé au Maroc, 
                    dans la région de Beni Mellal. Elle est ouverte aux jeunes motivés et intéressés par les métiers 
                    du Développement Web et Mobile. À l'école Ahmed AL HANSALI, l'apprenant est considéré comme l'acteur 
                    principal tout au long de son processus d'apprentissage. C'est lui qui construit ses connaissances 
                    à travers la réalisation de projets, qu'ils soient individuels ou en groupe, inspirés du milieu professionnel, 
                    afin de favoriser une meilleure insertion sur le marché du travail. La formation au sein de 
                    l'école Ahmed AL HANSALI se concentre sur différents volets : technique, compétences relationnelles, 
                    entrepreneuriat et gestion de projet.</p>
                    <div class="text-center">
                        <div class="social">
                        <a href="#" style="font-weight:bold; color:#adb5bd; border:1px solid #dee2e6;border-radius:60px; width:40px;height:40px;padding:5px;"><i class="fab fa-facebook-f fa-lg fa-fw"></i></a>
                        <a href="#" style="font-weight:bold; color:#adb5bd; border:1px solid #dee2e6;border-radius:60px; width:40px;height:40px;padding:5px;"><i class="fab fa-twitter fa-lg fa-fw"></i></a>
                        <a href="#" style="font-weight:bold; color:#adb5bd; border:1px solid #dee2e6;border-radius:60px; width:40px;height:40px;padding:5px;"><i class="fab fa-google-plus-g fa-lg fa-fw"></i></a>
                    </div>
                    <img src="~/assets/img/firstText.svg" class="mission-content-img" style="width:14vw;">
                    </div>
                </div>
            </div>
        </div>
    </section> <!-- End mission Section -->

    
    </div>
    
        <!-- ======= Flip Card Section ======= -->
    <section id="formation" class="Flip">
        <div class="w-100" data-aos="zoom-in">
            <div class="container">
            <div class="section-title">
                <h2>Nos Formations</h2>
            </div>
                <div class="Flip-content">
                    <div class="flip-card mr-2" tabIndex="0">
                        <div class="flip-card-inner">
                          <div class="flip-card-front">
                            <h3 class="font-weight-bold flip-title">Développement Web</h3>
                          </div>
                          <div class="flip-card-back d-flex flex-column">
                            <h3>DÉVELOPPEMENT WEB</h3>
                            <p>Le développeur web réalise l’ensemble des fonctionnalités techniques d’une application web.</p>
                          </div>
                        </div>
                    </div>
                    <div class="flip-card2" tabIndex="0">
                        <div class="flip-card-inner2">
                          <div class="flip-card-front2">
                            <h3 class="font-weight-bold flip-title">Développement Mobile</h3>
                          </div>
                          <div class="flip-card-back2 d-flex flex-column">
                            <h3>DÉVELOPPEMENT MOBILE</h3>
                            <p>Le développeur mobile effectue la réalisation technique et le développement informatique d’applications mobiles.</p>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

        <!-- ======= partenaire Section ======= -->
    <div class="opacity-section">
        <section id="partenaire" class="partenaire">
        <div class="w-100" data-aos="zoom-in">
            <div class="section-title">
                <h2>Nos Partenaires</h2>
            </div>
            <div class="row">
                <div class="">
                    <section class="partenaire-custom-section">
                        <div class="w-75 d-flex flex-row justify-content-around align-items-center">
                            <img style="width:8em;height:6em;" src="~/assets/img/p1.png">
                            <img style="width:14em; height:10em;" src="~/assets/img/p3.svg">
                            <img style="width:10em; height:8em;" src="~/assets/img/p2.svg">
                            <img style="width:8em; height:6em;" src="~/assets/img/p4.jpeg">
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
    </div>

    
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Contact</h2>
                <p>Contactez-nous pour discuter de votre aventure numériqueet de nos programmes de formation</p>
            </div>
            <div class="contact-content">
                <iframe class="contact-iframe" src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3372.043688597287!2d-6.398790924356469!3d32.310679973862065!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMzLCsDE4JzM4LjUiTiA2wrAyMyc0Ni40Ilc!5e0!3m2!1sfr!2sma!4v1698431906457!5m2!1sfr!2sma" width="480" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <div class="contact-data">
                    <p>le Maroc de demain est numérique et ENAA de est la formation privilégiée pour vous 
                    préparer aux futurs challenges. Devenez développeurs dès à présent en rejoignant une formation 
                    de qualité, délivrée par ENAA</p>
                    <div class="d-flex flex-row justify-content-between">
                        <div>
                            <h6>adresse :</h6>
                            <p>Enaa Club omnisports de Béni Mellal</p>
                            <h6>Email :</h6>
                            <p>association.alhansali@gmail.com</p>
                        </div>
                        <div>
                            <h6>Portable :</h6>
                            <p>(212)62438432</p>
                            <h6>Fix :</h6>
                            <p>(212)9849328423</p>
                        </div>
                    </div>
                    <a href="mailto:exemple@gmail.com" class="m-0 btn-block  center">
                        Contactez-nous
                    </a>
                </div>
            </div>
        </div>
    </section><!-- End Contact Section -->

</main><!-- End #main -->
<!-- ======= Footer ======= -->
<div id="footer" class="footer">
    <div class="container text-white">
        <div class="footer-brand mb-4">
            <div><img src="~/assets/img/logo-footer.png" alt="Logo" width="19%"></div>
        </div>
        <p class="mt-4 mb-4">
            &copy; Tous les droits réservés 2023 <br />
            <a href="#" class="text-white">École Numérique Ahmed AL HANSSALI</a>
        </p>
        <p class="social-list">
            <a href="#"><i style="font-size:18px;;" class="fab fa-facebook-f fa-fw text-white"></i></a>
            <a href="#"><i style="font-size:18px;;" class="fab fa-instagram fa-fw text-white"></i></a>
            <a href="#"><i style="font-size:18px;;" class="fab fa-linkedin fa-fw text-white"></i></a>
        </p>
    </div>
</div><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>




