@{
    Layout = "_LayoutDashboard";
}


<div class="d-flex flex-wrap justify-content-center dashboard" style="gap:20px;">

    <div class="w-25 border border-1 shadow p-4 text-center dashboard-item">
        <a class="pt-2 text-decoration-none text-dark" asp-controller="Menus" asp-action="Index">
            <img src="~/assets/img/menu.png" style="width:3.5em;" /><br />
            <h3>Menu</h3>
        </a>
    </div>
</div>